<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>title
    </title>
  </head>
  <body>
    <p>
      hemmo world
      Gold = {{:gold}}
    </p>

<h4>Farm</h4>
<form class="" action="/process" method="post">
  <input type="submit" name="farm" value="Find Gold!">
</form>
<h4>Cave</h4>
<form class="" action="/process" method="post">
  <input type="submit" name="cave" value="Find Gold!">
</form>
<h4>House</h4>
<form class="" action="/process" method="post">
  <input type="submit" name="house" value="Find Gold!">
</form>
<h4>Casino</h4>
<form class="" action="/process" method="post">
  <input type="submit" name="casino" value="Find Gold!">
</form>
  </body>
</html>
