<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>create new users</title>
  </head>
  <body>
    <form class="" action="/processnewuser" method="post">
      <p>
        First Name: <br />
      </p>
      <input type="text" name="created_fname" value=""><br />
      <p>
        Last Name: <br />
      </p>
      <input type="text" name="created_lname" value=""><br />
      <p>
        Email: <br />
      </p>
      <input type="text" name="created_email" value=""><br />
      <input type="submit" name="" value="Create User">
    </form>
  </body>
</html>
