<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>New user</title>
  </head>
  <body>
    <h1> Input information below to create a new account!</h1>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class="flashes">
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    {% block body %}{% endblock %}
    <form class="" action="/process" method="POST">
      <h5>First Name:</h5><br />
      <input type="text" name="newuser_fname" value="">
      <h5>Last Name:</h5><br />
      <input type="text" name="newuser_lname" value="">
      <h5>Email:</h5><br />
      <input type="text" name="newuser_email" value="">
      <h5>Password:</h5><br />
      <input type="password" name="newuser_p" value="">
      <h5>Confirm Password:</h5><br />
      <input type="password" name="newuser_cp" value="">
      <br />
      <input type="submit" name="" value="Create Account">
    </form>
  </body>
</html>
